// SPDX-License-Identifier: GPL-2.0-only
// SPDX-FileCopyrightText: Copyright (c) 2026, DFI. All rights reserved.

/dts-v1/;
/plugin/;

#include <dt-bindings/tegra234-p3767-0000-common.h>
#include <dt-bindings/pinctrl/pinctrl-tegra.h>

#define CAM_I2C_MUX		TEGRA234_AON_GPIO(CC, 3)

#define X6_CAM_LANES		4
#define X6_CAM_LANES_STRING	"4"
#define X6_CAM_PORT		2
#define X6_CAM_SINTERFACE	"serial_c"
#define X6_DES_PHY_ID		0

/ {
	overlay-name = "X6-ORN VLS-GM2 MAX9296A camera overlay";
	jetson-header-name = "Jetson 24pin CSI Connector";
	compatible = JETSON_COMPATIBLE;

	fragment@0 {
		target-path = "/";
		__overlay__ {
			tegra-capture-vi {
				num-channels = <2>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					x6_vi_port0: port@0 {
						reg = <0>;

						x6_vi_in0: endpoint {
							vc-id = <0>;
							port-index = <X6_CAM_PORT>;
							bus-width = <X6_CAM_LANES>;
							remote-endpoint = <&x6_csi_out0>;
						};
					};

					x6_vi_port1: port@1 {
						reg = <1>;

						x6_vi_in1: endpoint {
							vc-id = <1>;
							port-index = <X6_CAM_PORT>;
							bus-width = <X6_CAM_LANES>;
							remote-endpoint = <&x6_csi_out1>;
						};
					};
				};
			};

			bus@0 {
				cam_i2cmux {
					#address-cells = <1>;
					#size-cells = <0>;
					status = "okay";
					compatible = "i2c-mux-gpio";
					i2c-parent = <&cam_i2c>;
					mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;

					cam_i2c_0: i2c@0 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0>;
						status = "okay";

						rbpcv2_imx219_a@10 {
							status = "disabled";
						};
					};

					cam_i2c_1: i2c@1 {
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <1>;
						status = "okay";

						rbpcv2_imx219_c@10 {
							status = "disabled";
						};
					};
				};

				host1x@13e00000 {
					nvcsi@15a00000 {
						#address-cells = <1>;
						#size-cells = <0>;
						num-channels = <2>;

						channel@0 {
							reg = <0>;
							ports {
								#address-cells = <1>;
								#size-cells = <0>;

								port@0 {
									reg = <0>;

									x6_csi_in0: endpoint@0 {
										port-index = <X6_CAM_PORT>;
										bus-width = <X6_CAM_LANES>;
										remote-endpoint = <&x6_tevs_a_out>;
									};
								};

								port@1 {
									reg = <1>;

									x6_csi_out0: endpoint@1 {
										remote-endpoint = <&x6_vi_in0>;
									};
								};
							};
						};

						channel@1 {
							reg = <1>;
							ports {
								#address-cells = <1>;
								#size-cells = <0>;

								port@0 {
									reg = <0>;

									x6_csi_in1: endpoint@2 {
										port-index = <X6_CAM_PORT>;
										bus-width = <X6_CAM_LANES>;
										remote-endpoint = <&x6_tevs_b_out>;
									};
								};

								port@1 {
									reg = <1>;

									x6_csi_out1: endpoint@3 {
										remote-endpoint = <&x6_vi_in1>;
									};
								};
							};
						};
					};
				};
			};

			tegra-camera-platform {
				compatible = "nvidia, tegra-camera-platform";
				num_csi_lanes = <X6_CAM_LANES>;
				max_lane_speed = <1500000>;
				min_bits_per_pixel = <16>;
				vi_peak_byte_per_pixel = <2>;
				vi_bw_margin_pct = <25>;

				modules {
					module0 {
						badge = "x6orn_tevs_a";
						position = "front";
						orientation = "1";

						drivernode0 {
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@1/rpi22_tevs_a@3a";
						};
					};

					module1 {
						badge = "x6orn_tevs_b";
						position = "rear";
						orientation = "1";

						drivernode0 {
							pcl_id = "v4l2_sensor";
							sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@1/rpi22_tevs_b@3b";
						};
					};
				};
			};
		};
	};
};

&cam_i2c_1 {
	des_0: max9296a@4a {
		compatible = "maxim,max9296a";
		reg = <0x4a>;
		phy-reg = <0x48>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		maxim,mfp4-power-output-high;

		i2c-addr-alias-map-local = <0x41 0x42>;
		i2c-addr-alias-map-remote = <0x40 0x40>;
		i2c-addr-alias-source-id = <0 1>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&des_0 0 0 12>;

		pinctrl-names = "default";
		pinctrl-0 = <&des_0_pinmux_default>;

		des_0_pinmux_default: pinmux {
			mfp4_power {
				pins = "mfp4";
				function = "gpio";
				output-enable;
				output-high;
			};
		};

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;
			mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;

			des_0_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
			};

			des_0_i2c_1: i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
			};
		};

		phy@0 {
			reg = <X6_DES_PHY_ID>;
		};

		pipe@0 {
			reg = <0>;
			maxim,phy-id = <X6_DES_PHY_ID>;
			maxim,stream-id = <0>;
		};

		pipe@1 {
			reg = <1>;
			maxim,phy-id = <X6_DES_PHY_ID>;
			maxim,stream-id = <1>;
		};

		channel@0 {
			reg = <0>;
			label = "x6orn_des_ch0";
			maxim,phy-id = <X6_DES_PHY_ID>;
			maxim,pipe-id = <0>;
			maxim,src-vc-id = <0>;
			maxim,dst-vc-id = <0>;
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <1000000000>;
		};

		channel@1 {
			reg = <1>;
			label = "x6orn_des_ch1";
			maxim,phy-id = <X6_DES_PHY_ID>;
			maxim,pipe-id = <1>;
			maxim,src-vc-id = <0>;
			maxim,dst-vc-id = <1>;
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			link-frequencies = /bits/ 64 <1000000000>;
		};
	};

	x6_path_a_tevs: rpi22_tevs_a@3a {
		compatible = "tn,tevs";
		reg = <0x3a>;
		status = "okay";
		reset-gpios = <&pca9554_cam_0 4 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&pca9554_cam_0 2 GPIO_ACTIVE_HIGH>;
		devnode = "video0";
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "tevs";
		use_sensor_mode_id = "false";
		vc-id = <0>;

		mode0 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "640";
			active_h = "480";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "60000000";
			step_framerate = "1";
			default_framerate = "60000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode1 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "1280";
			active_h = "720";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "60000000";
			step_framerate = "1";
			default_framerate = "60000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode2 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "1920";
			active_h = "1080";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "30000000";
			step_framerate = "1";
			default_framerate = "30000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode3 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "2560";
			active_h = "1440";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "30000000";
			step_framerate = "1";
			default_framerate = "30000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode4 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "3840";
			active_h = "2160";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "15000000";
			step_framerate = "1";
			default_framerate = "15000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				x6_tevs_a_out: endpoint {
					port-index = <X6_CAM_PORT>;
					bus-width = <X6_CAM_LANES>;
					remote-endpoint = <&x6_csi_in0>;
					clock-noncontinuous;
					link-frequencies = /bits/ 64 <400000000>;
				};
			};
		};
	};

	x6_path_b_tevs: rpi22_tevs_b@3b {
		compatible = "tn,tevs";
		reg = <0x3b>;
		status = "okay";
		reset-gpios = <&pca9554_cam_1 4 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&pca9554_cam_1 2 GPIO_ACTIVE_HIGH>;
		devnode = "video1";
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "tevs";
		use_sensor_mode_id = "false";
		vc-id = <0>;

		mode0 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "640";
			active_h = "480";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "60000000";
			step_framerate = "1";
			default_framerate = "60000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode1 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "1280";
			active_h = "720";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "60000000";
			step_framerate = "1";
			default_framerate = "60000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode2 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "1920";
			active_h = "1080";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "30000000";
			step_framerate = "1";
			default_framerate = "30000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode3 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "2560";
			active_h = "1440";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "30000000";
			step_framerate = "1";
			default_framerate = "30000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		mode4 {
			mclk_khz = "24000";
			num_lanes = X6_CAM_LANES_STRING;
			tegra_sinterface = X6_CAM_SINTERFACE;
			phy_mode = "DPHY";
			discontinuous_clk = "yes";
			dpcm_enable = "false";
			cil_settletime = "0";
			active_w = "3840";
			active_h = "2160";
			mode_type = "yuv";
			pixel_phase = "uyvy";
			csi_pixel_bit_depth = "16";
			readout_orientation = "90";
			line_length = "3448";
			inherent_gain = "1";
			mclk_multiplier = "9.33";
			pix_clk_hz = "200000000";
			serdes_pix_clk_hz = "400000000";
			gain_factor = "16";
			framerate_factor = "1000000";
			exposure_factor = "1000000";
			min_gain_val = "16";
			max_gain_val = "170";
			step_gain_val = "1";
			default_gain = "16";
			min_hdr_ratio = "1";
			max_hdr_ratio = "1";
			min_framerate = "2000000";
			max_framerate = "15000000";
			step_framerate = "1";
			default_framerate = "15000000";
			min_exp_time = "13";
			max_exp_time = "683709";
			step_exp_time = "1";
			default_exp_time = "2495";
			embedded_metadata_height = "0";
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				x6_tevs_b_out: endpoint {
					port-index = <X6_CAM_PORT>;
					bus-width = <X6_CAM_LANES>;
					remote-endpoint = <&x6_csi_in1>;
					clock-noncontinuous;
					link-frequencies = /bits/ 64 <400000000>;
				};
			};
		};
	};
};

&des_0_i2c_0 {
	ser_0: max96717@41 {
		compatible = "maxim,max96717";
		reg = <0x41>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		i2c-addr-alias-map-local = <0x3a 0x2a>;
		i2c-addr-alias-map-remote = <0x48 0x25>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&ser_0 0 0 11>;

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;
			mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;

			ser_0_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
			};
		};

		pipe@0 {
			reg = <0>;
			maxim,stream-id = <0>;
		};

		channel@0 {
			reg = <0>;
			label = "x6orn_ser_ch0";
			maxim,pipe-id = <0>;
			maxim,vc-id = <0>;
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			clock-noncontinuous;
		};
	};
};

&des_0_i2c_1 {
	ser_1: max96717@42 {
		compatible = "maxim,max96717";
		reg = <0x42>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		i2c-addr-alias-map-local = <0x3b 0x2b>;
		i2c-addr-alias-map-remote = <0x48 0x25>;

		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&ser_1 0 0 11>;

		i2c-mux {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "i2c-mux-gpio";
			i2c-parent = <&cam_i2c>;
			mux-gpios = <&gpio_aon CAM_I2C_MUX GPIO_ACTIVE_HIGH>;

			ser_1_i2c_0: i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
			};
		};

		pipe@0 {
			reg = <0>;
			maxim,stream-id = <1>;
		};

		channel@0 {
			reg = <0>;
			label = "x6orn_ser_ch1";
			maxim,pipe-id = <0>;
			maxim,vc-id = <0>;
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			clock-noncontinuous;
		};
	};
};

&ser_0_i2c_0 {
	pca9554_cam_0: pca9554@2a {
		compatible = "nxp,pca9554";
		reg = <0x2a>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "EXPOSURE_TRIG_IN",
				"FLASH_OUT",
				"INFO_TRIG_IN",
				"CAMA_SHUTTER",
				"CSI_P1_nRST",
				"PWR_TIME0",
				"PWR_TIME1",
				"3V3_EN";
		vcc-supply = <&vdd_1v8_hs>;
		vcc_lp = "vcc";
		status = "okay";
	};
};

&ser_1_i2c_0 {
	pca9554_cam_1: pca9554@2b {
		compatible = "nxp,pca9554";
		reg = <0x2b>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "EXPOSURE_TRIG_IN",
				"FLASH_OUT",
				"INFO_TRIG_IN",
				"CAMA_SHUTTER",
				"CSI_P1_nRST",
				"PWR_TIME0",
				"PWR_TIME1",
				"3V3_EN";
		vcc-supply = <&vdd_1v8_hs>;
		vcc_lp = "vcc";
		status = "okay";
	};
};
